<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="workspace" type="apms.VO.Workspace" />
		<typeAlias alias="emp" type="apms.VO.Emp" />
		<typeAlias alias="project" type="apms.VO.Project" />
	</typeAliases>
	<mappers>

		<mapper resource="Mapper/workspaceMapper.xml" />
		<mapper resource="Mapper/manpowerMapper.xml" />
		<mapper resource="Mapper/projectMapper.xml" />
	</mappers>
</configuration>
