<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="apms.Database.Dao_todolist">
	
 	<resultMap type="todolist" id="tdMap" />
	<select id="tlist" resultMap="tdMap" parameterType="int">
		SELECT * 
		FROM todolist 
		WHERE prjno = #{prjno} 
		ORDER BY todono DESC
	</select>
	
	<insert id="ins" parameterType="todolist">
		INSERT INTO todolist(todono, prjno, title, pm, todolistbudget, begindate,enddate, status, fileno, empnos) 
		VALUES (seq_todolist.nextval,#{prjno}, #{title}, #{pm},#{todolistbudget},TO_CHAR(#{begindate},'yyyy-mm-dd'),TO_CHAR(#{enddate},'yyyy-mm-dd'),#{status},#{fileno}, #{empnos})
	</insert>
	
	<select id="projectName" resultType="String" parameterType="int">
		select title 
		from project 
		where prjno = #{prjno}
	</select>
	
	
	
	
<!--	(title, pm,totbudget,status,fileno,empnos) spaceno,title,pm,prjbudget,begindate,enddate,status,fileno,empnos
	<select id="pname" resultType="MyInfo" parameterType="int">
		SELECT e.empno, e.name, e.job, e.deptno, e.status, d.dname 
		FROM emp e, dept d
		WHERE e.deptno = d.deptno
		AND e.empno = #{value}
	</select>
	
	<resultMap type="emp" id="empMap"/>
	emp list 가지고 오기
	<select id="elist" resultMap="empMap">
		SELECT d.dname, e.deptno, e.empno, e.job, e.name
		FROM emp e, dept d
		WHERE e.deptno = d.deptno
		AND e.deptno != 'A11'
	</select>
	
	<resultMap type="dept" id="deptMap"/>
	dept list 가지고 오기
	<select id="dlist" resultMap="deptMap">
		SELECT *
		FROM dept
		WHERE deptno != 'A11'
	</select>
	

	
	<select id="info" resultType="workspace" parameterType="int">
		SELECT *
		FROM workspace
		WHERE spaceno = #{value}
	</select>
	
	<update id="update" parameterType="workspace">
		UPDATE workspace
		SET totbudget=#{totbudget}, empnos=#{empnos}, status=#{status}
		WHERE spaceno=#{spaceno}
	</update>
	
	<delete id="delwork" parameterType="int">
		DELETE FROM workspace
		WHERE spaceno = #{value}
	</delete>
	
	<select id="empnos" resultType="string" parameterType="int">
		SELECT empnos
		FROM workspace
		WHERE spaceno = #{value}
	</select> -->
	
</mapper>
