@charset "UTF-8";

.popup_hide{
	display:none;
	
}

#element_to_pop_up { 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    min-width:340px;
    min-height: 180px;
}
.element_to_pop_up { 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    min-width:340px;
    min-height: 80px;
}

.b-close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
}

.length-80{
	width:80%;
	margin:0  1rem 0 1rem;
}

.text-bold{
	font-weight:bold;
	font-size:1.3em;
}

.w-box{
	background-color:white;
	width:230px;
	height:330px;	
	border-radius:20px;
}

.input_title{
	font-size:8pt;
}
.input_font{
	font-size:10pt;
	font-weight:bold;
	
}
#sortable { list-style-type: none;}


/* portlets */
body .portlet{
    min-width: 300px;
  }
  .column {
  	margin-left:50px;
    width: 300px;
    float: left;
    padding-bottom: 100px;
  }
  .portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
  }
  .portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
  }
  .portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
  }
  .portlet-content {
    padding: 0.4em;
  }
  .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
  }
