@charset "UTF-8";

.popup_hide{
	display:none;
	
}

#element_to_pop_up { 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    min-width:340px;
    min-height: 180px;
}

.b-close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
}

.length-80{
	width:80%;
	margin:0  1rem 0 1rem;
}
